.main-section{
    background: linear-gradient(to bottom, #3b38d8, #4d4ad9);
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.image-container{
    width: 100vw;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    padding: 20px;
    border-radius: 50%;
    width: 175px;
}

@media only screen and (min-width: 480px){
    .logo{
        width: 200px;
    }    
}

.login-form{
    text-align: center;
    padding: 3%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background: white;
    height: 100%;
}

.login-form h2{
    margin-bottom: 40px;
}

.login-form input{
    font-family: inherit;
    width: 100%;
    border: 0;
}

.login-form input:focus{
    background-color: #f1f1f1;
}

.login-form button{
    width: 100%;
    margin-top: 30px;
    font-size: 15px;
    background-color: #1cc373;
    color: #e1fbf1;
    padding: 5% 20% 5% 20%;
    border: none;
    border-radius: 5px;
}

@media only screen and (min-width: 480px){
    .login-form button{
        padding: 3% 30% 3% 30%;
    }    
}



