.otp-form{
    text-align: center;
    padding: 0% 3% 3% 3%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background: white;
    height: 100%;
}

.otp-heading{
    justify-content: center;
    align-items: baseline;
}

.otp-form h2{
    text-decoration: none;
    margin-bottom: 40px;
}

.otp-form p{
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.54)
}

.otp-form form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    margin: 0 auto;
        
}

.otp-form form input{
    width: 35px;
    height: 35px;
    padding: 0;
    margin-right: 15px;
    text-align: center;
    border: 1px solid gray;
    border-radius: 4px;
}

@media only screen and (min-width: 380px){
    .otp-form form input{
        width: 50px;
        height: 50px;
        padding: 0;
        margin-right: 25px;
    }       
}

.otp-form form input:last-child{
    margin-right: 0px;
}

.otp-form form input::-webkit-inner-spin-button, input::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

.otp-form form input:focus, .focus{
    border-color: green;
    outline: none;
    box-shadow: none;
}

.otp-form .submit-button{
    width: 260px;
    margin-top: 30px;
    font-size: 15px;
    background-color: #1cc373;
    color: #e1fbf1;
    padding: 3% 0 3% 0;
    /* padding: 15px 70px 15px 70px; */
    border: none;
    border-radius: 5px;
}

@media only screen and (min-width: 380px){
    .otp-form .submit-button{
        width: 360px;
    }
}

.otp-heading .back-button{
    position: absolute;
    border: none;
    background: transparent;
    left: 4%;
    top: 200px;
}

.otp-heading h2{
    flex-basis: 1;
}

.progress-bar{
    display: flex;
    height: 55px;
}

.progress-bar p{
    margin-left: 10px;
    width: 25px;
}


.resend-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75px;
}

.resend-icon p{
    font-size: 10px;
}

@media only screen and (min-width: 480px){
    .otp-heading .back-button{
        top: 225px;
    }    
}

